{{#> admin.layout title=title }}
  {{#*inline "content"}}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h4 class="m-0 d-flex h4">
              <ion-icon name="search-outline"></ion-icon>
              <span class="ml-2">404</span>
            </h4>
            <button class="btn btn-style-2 px-4">
              <ion-icon name="person-add-outline" size="small"></ion-icon>
              <span class="ml-2">404</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-primary p-4 text-center">
          <h3 class="mb-0">404 | Page not found</h3>
        </div>
      </div>
    </section>
  {{/inline}}
{{/admin.layout}}
